# Data Science Tools and Ecosystem

# Introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

## Popular Data Science Languages

Some of the popular languages that Data Scientists use are:

1. Python  
2. R  
3. SQL  
4. Julia  
5. Scala

## Common Data Science Libraries

Some of the commonly used libraries used by Data Scientists include:

1. Pandas  
2. NumPy  
3. Matplotlib  
4. Scikit-learn  
5. TensorFlow

| Data Science Tools          |
|----------------------------|
| Jupyter Notebook           |
| RStudio                    |
| Apache Zeppelin            |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#his will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**Objectives:**

- List popular languages for Data Science  
- Identify commonly used libraries in Data Science  
- Create and execute code cells in a Jupyter notebook  
- Perform basic arithmetic operations in Python  
- Create and format markdown cells for documentation

## Author

Mohamed Chaari